body
{
   margin :0 ; 
   padding: 20px;
   font-family: "Montserrat";
   background-color: #f7f7f7;
}

.container
{
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 5px;
    text-align: center;
}

h1
{
    font-size: 36px;
    text-align: center;
    margin-top: 0 ;
    margin-bottom: 20px;
}

.form
{
    display: flex;
    flex-direction: column;
    align-items: center;

}

label
{
  font-weight: bold;
  margin-bottom: 20px;
}

input
{
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  max-width: 300px;
}

button
{
    background-color: #ee7c7c;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color .3s ease;
    border-radius: 10px;
}

button:hover
{
    background-color: #ec5252;
    
    
}

#result
{
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;

}
